@model QuasarERPBanking.Models.INV_TIPO

<img src="../../Content/themes/base/images/advertencia-animada-amarillo-grande.gif" style="width:40px" />
<h3 style="font-size:15px; color:#bc1717;"><b>@Resources.StringResources.MantMsgDelete</b></h3>
<div style="font-size:12px">
    <hr style="border-top:transparent" />
    <dl class="dl-horizontal" style="font-size:12px">
        <dt>
            @Html.DisplayNameFor(model => model.INVTIPCOD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INVTIPCOD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INVTIPDES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INVTIPDES)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        @*<div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>*@
        <div class="form-actions no-color">
            <table>
                <tr>
                    <td style="padding-left:50px">
                        @*<input type="submit" value="@Resources.StringResources.GlobalButtonNew" class="boton" style="font-size:15px" />*@
                        @*<img src="../../Content/themes/base/images/check.png" alt="Buscar" title="@Resources.StringResources.GlobalButtonNew" onclick="add();" style="width:30px;" />*@
                        <input type="image" title="" src="../../Content/themes/base/images/eliminar.png" style="width:40px;" />
                    </td>
                    <td style="width:300px; padding-left:140px">
                        <img src="../../Content/themes/base/images/back.png" alt="Buscar" title="" onclick="window.location.href = '/INV_TIPO'" style="width:40px; cursor:pointer" />
                        @*<a><input type="button" class="boton" style="font-size:15px" value="@Resources.StringResources.MantVolverList" onclick="window.location.href = '/AF_GRUPOS'"></a>*@
                    </td>
                </tr>
                <tr>
                    <td style="text-shadow: 3px 3px 5px #2c2c2d; padding-left:50px">
                        <label>@Resources.StringResources.GlobalButtonDel</label>
                    </td>
                    <td style="padding-left:115px; text-shadow: 3px 3px 5px #2c2c2d">
                        <label>@Resources.StringResources.MantVolverList</label>
                    </td>
                </tr>

            </table>
        </div>
    }
</div>
