@model IEnumerable<QuasarERPBanking.Models.INV_ZONAS>

<p style="font-size:16px;">
    @Html.ActionLink(Resources.StringResources.MantCrear, "Create")

</p>
<table style="font-size:12px" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.INVZONCOD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INVZONDES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INVZONCLASE)
        </th>
        
        <th>@Resources.MANTENIMIENTO.StringResources.lblAccion</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.INVZONCOD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INVZONDES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INVZONCLASE)
        </td>
      
        <td>
            @Html.ActionLink(Resources.StringResources.MantEditar, "Edit", new { id = item.INVZONCOD }) |

            @Html.ActionLink(Resources.StringResources.MantEliminar, "Delete", new { id = item.INVZONCOD })
            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

</table>
