@model IEnumerable<QuasarERPBanking.Models.ActivoFijoTipo>
<div class="internal-window bg-light">
    <div class="form--section-title col-md-12">
        <div class="col-md-6 internal--title">
            <h2 class="internal--title-h2">@Resources.Inventario.StringResources.TittleVentana</h2>
        </div>

        <div class="col-md-6 icon-bar">
            <ul class="list-unstyled d-flex justify-content-end">
                <li class="icon--bar-create">
                    <a href="#" id="nuevo" onclick="crear();">
                        <img src="~/Content/imagenes/icon-add.svg" title="@Resources.StringResources.GlobalButtonNew" onclick="window.location.href = '/ActivoFijoTipo/Create';" alt="Nuevo" width="20" height="24" />
                    </a>
                </li>
                <li class="icon--bar-exit">
                    <a href="/">
                        <img src="~/Content/imagenes/icon-door_open_exit.svg" width="24" height="24" />
                    </a>
                </li>
            </ul>
        </div>

    </div>
        <div class="mantenimientoTable my-4">
            <table class="table table-hover table-bordered">
                <tr>
                    <th class="table-primary">
                    @Html.DisplayNameFor(model => model.AFTIPCOD)
                    </th>

                    <th class="table-primary">
                    @Html.DisplayNameFor(model => model.AFTIPDES)
                    </th>
                    <th class="table-primary">
                    @Resources.MANTENIMIENTO.StringResources.lblAccion
                    </th>

                </tr>

                @foreach (var item in Model)
                {
                    <tr style="text-align:center;">
                        <td>
                            @Html.DisplayFor(modelItem => item.AFTIPCOD)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AFTIPDES)
                        </td>
                        <td>
                            @Html.ActionLink(Resources.StringResources.MantEditar, "Edit", new { id = item.AFTIPCOD }) |

                            @Html.ActionLink(Resources.StringResources.MantEliminar, "Delete", new { id = item.AFTIPCOD })
                        </td>
                    </tr>
                }

            </table>
        </div>
</div>