@using QuasarERPBanking.Models
@using QuasarERPBanking
@model QuasarERPBanking.Models.INV_PARAMETROS

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="internal-window" style="margin: auto; width:855px">

    <div class="internal-title">
        <h2>@Resources.INV_PARAMETROS.StringResources.tittleVentana</h2>
        <a href="/">
            <img class="close-img" src="../../Content/themes/base/images/close-window-xp-icon.png" alt="Cerrar" title="@Resources.StringResources.GlobalButtCerrar" width="30" height="30" />
        </a>
    </div>


    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/Funciones.js")" type="text/javascript"></script>

    <div class="icon-bar" border="0">


        @*<img src="../../Content/themes/base/images/new-icon.png" alt="Nuevo" title="Nuevo" onclick="window.location.href = '/INV_MAESTRO/Create';" />

            <img src="../../Content/themes/base/images/search-icon.png" alt="Buscar" title="Buscar" onclick="inhabilitartodo(); window.location.href = '/INV_MAESTRO/Index';" />


            <img src="../../Content/themes/base/images/delete-icon.png" alt="Eliminar" title="Eliminar" onclick="eliminar();" />*@


        <img src="../../Content/themes/base/images/save-icon.png" alt="Guardar" title="@Resources.StringResources.GlobalButtonUp" onclick="submitform('myform');" />

        <img src="../../Content/themes/base/images/exit-icon.png" alt="Salir" title="@Resources.StringResources.GlobalButtonSalir" onclick="window.location.href ='/';" />
    </div>





    <div>

        <table>
            <tr>
                <td style="width:840px; text-align:center; padding:10px">
                    @*<img style="width: 423px; height: 246px;" src="../../Content/themes/base/images/reunion.png"/>*@
                    <label style="font-family:'Segoe UI,sans-serif'; font-size:30px;"><i>@Resources.INV_PARAMETROS.StringResources.lblParam</i></label>
                    <hr style="border-color:rgba(8, 65, 101, 0.35); width:500px" />
                </td>
            </tr>
        </table>


        <fieldset class="ventana" style="width:833px">
            <legend class="limpiar"><b>@Resources.INV_PARAMETROS.StringResources.FieldsetCampos</b></legend>

            <table>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td width=350px colspan="1">

                                    @Html.LabelFor(model => model.INVPARNOMBRE, new { style = "", @class = "limpiar" })

                                    @Html.TextBoxFor(model => model.INVPARNOMBRE, new { style = "width:220px;", @class = "limpiar form-control" })
                                </td>



                                <td>

                                    <div>
                                        <fieldset class="ventana" style="width:150px;">
                                            <legend class="limpiar" style="text-align:center"><b>@Resources.INV_PARAMETROS.StringResources.FieldsetNegativ</b></legend>
                                            <table>
                                                <tr>
                                                    <td>
                                                        @Html.CheckBoxFor(model => model.INVPARNEGAT)
                                                    </td>

                                                    <td>
                                                        @Html.LabelFor(model => model.INVPARNEGAT, new { style = "", @class = "limpiar" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @Html.CheckBoxFor(model => model.INVPARNEGDISP)
                                                    </td>

                                                    <td>
                                                        @Html.LabelFor(model => model.INVPARNEGDISP, new { style = "", @class = "limpiar" })
                                                    </td>
                                                </tr>
                                            </table>
                                        </fieldset>

                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div>

                                        <fieldset class="ventana" style="width:350px; height:125px; margin:0 auto;">
                                            <legend class="limpiar"><b>@Resources.INV_PARAMETROS.StringResources.FieldsetMovimie</b></legend>
                                            <div></div>
                                            <table style="margin:0px auto 0px auto;">
                                                <tr>


                                                    <td style="height:50px">
                                                        @Html.LabelFor(model => model.INVPARLOTE, new { @class = "limpiar" })
                                                    </td>

                                                    <td>
                                                        @Html.TextBox("LM", "LM", new { style = "width:25px;", @class = "limpiar form-control" })
                                                        @*<input type="text"  value="LM"  />*@

                                                    </td>

                                                    <td>
                                                        @Html.TextBoxFor(model => model.INVPARLOTE, new {@class = "limpiar form-control" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @Html.LabelFor(model => model.INVPARIDTRANS, new { style = "", @class = "limpiar" })
                                                    </td>

                                                    <td>
                                                        @Html.TextBox("LM", "LM", new { style = "width:25px;", @class = "limpiar form-control" })
                                                    </td>

                                                    <td>
                                                        @Html.TextBoxFor(model => model.INVPARIDTRANS, new { @class = "limpiar form-control" })
                                                    </td>
                                                </tr>
                                            </table>

                                        </fieldset>
                                    </div>
                                </td>

                                <td>
                                    <fieldset class="ventana" style="width:150px;">
                                        <legend class="limpiar" style="text-align:center"><b>@Resources.INV_PARAMETROS.StringResources.FieldsetSistmCosto</b></legend>
                                        @{
                                            foreach (var costo in INV_PARAMETROS.lstINVPARSISCTO)
                                            {
                                                <div>
                                                    @*@Html.RadioButtonFor(i => item.id, item.SelectedID, new { GroupName = item.OptServiceCatId })*@
                                                    @*@Html.RadioButtonFor(model => model.INVPARSISCTO, Model.INVPARSISCTO, new { ID = "costo" + costo.ID, @checked = (costo.ID == Model.INVPARSISCTO.ID)  })*@
                                                    @Html.RadioButtonFor(model => model.INVPARSISCTO, costo.ID)
                                                    @Html.Label("costo" + costo.ID, costo.Type, new { style = "", @class = "limpiar" })
                                                </div>
                                            }
                                        }

                                    </fieldset>
                                </td>
                            </tr>
                            <tr>
                                <td width="300" colspan="2">
                                    <div>
                                        <fieldset class="ventana" style="width:500px">
                                            <legend class="limpiar"><b>@Resources.INV_PARAMETROS.StringResources.FieldsetInv</b></legend>
                                            <table>
                                                <tr>

                                                    <td>
                                                        @Html.CheckBoxFor(model => model.INVPARINTMG)
                                                    </td>
                                                    <td width="150">
                                                        @Html.LabelFor(model => model.INVPARINTMG, new { style = "", @class = "limpiar" })
                                                    </td>
                                                    <td>
                                                        @Html.LabelFor(model => model.INVPARDIRMG, new { style = "", @class = "limpiar" })
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(model => model.INVPARDIRMG, new { style = "width:200px;", @class = "limpiar form-control" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @Html.CheckBoxFor(model => model.INVPARINTCC)
                                                    </td>
                                                    <td>
                                                        @Html.LabelFor(model => model.INVPARINTCC, new { style = "", @class = "limpiar" })
                                                    </td>
                                                    <td>
                                                        @Html.LabelFor(model => model.INVPARDIRCC, new { style = "", @class = "limpiar" })
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(model => model.INVPARDIRCC, new { style = "width:200px;", @class = "limpiar form-control" })
                                                    </td>

                                                </tr>
                                            </table>
                                        </fieldset>
                                    </div>
                                </td>
                            </tr>

                        </table>

                    </td>

                    <td>

                        <table>
                            <tr>
                                <td>

                                    <fieldset class="ventana" style="width:290px">
                                        <legend class="limpiar"><b>@Resources.INV_PARAMETROS.StringResources.FieldsetNotaEn</b></legend>
                                        <table style="width:280px">
                                            <tr>
                                                <td style="height:40px;">
                                                    @Html.LabelFor(model => model.NEPARCODELAB, new { style = "width:90px", @class = "limpiar" })
                                                </td>

                                                <td style="">
                                                    @Html.TextBox("LM", "LM", new { style = "width:25px;", @class = "limpiar form-control" })
                                                </td>

                                                <td style="">
                                                    @Html.TextBoxFor(model => model.NEPARCODELAB, new { style = "width:160px;", @class = "limpiar form-control" })
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="height:40px">
                                                    @Html.LabelFor(model => model.NEPARLOTE, new { style = "", @class = "limpiar" })
                                                </td>

                                                <td style="">
                                                    @Html.TextBox("LM", "LM", new { style = "width:25px;", @class = "limpiar form-control" })
                                                </td>

                                                <td style="">
                                                    @Html.TextBoxFor(model => model.NEPARLOTE, new { style = "width:160px;", @class = "limpiar form-control" })
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="height:40px">
                                                    @Html.LabelFor(model => model.NEPARIDTRANS, new { style = "", @class = "limpiar" })
                                                </td>

                                                <td style="">
                                                    @Html.TextBox("LM", "LM", new { style = "width:25px;", @class = "limpiar form-control" })
                                                </td>

                                                <td>
                                                    @Html.TextBoxFor(model => model.NEPARIDTRANS, new { style = "width:160px;", @class = "limpiar form-control" })
                                                </td>
                                            </tr>
                                        </table>
                                        <table style="width:280px">
                                            <tr>
                                                <td align="right" style="width:30px">
                                                    @Html.CheckBoxFor(model => model.NEPARSINRES, new { style = "" })
                                                </td>

                                                <td style="height:40px; " colspan="2">
                                                    @Html.LabelFor(model => model.NEPARSINRES, new { style = "", @class = "limpiar" })
                                                </td>


                                            </tr>
                                        </table>
                                    </fieldset>
                                </td>
                            </tr>
                            <tr>
                                <td style="height:30px"></td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <fieldset class="ventana" style="width:293px; height:130px;">
                                            <legend class="limpiar"><b>@Resources.INV_PARAMETROS.StringResources.FieldsetCadeIni</b></legend>
                                            <table>
                                                <tr>
                                                    <td style="height:40px">
                                                        @Html.LabelFor(model => model.INVCTAINV, new { style = "", @class = "limpiar" })
                                                    </td>

                                                    <td>
                                                        @Html.TextBoxFor(model => model.INVCTAINV, new {@class = "limpiar form-control" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="height:40px">
                                                        @Html.LabelFor(model => model.INVCTAGTOINV, new { style = "", @class = "limpiar" })
                                                    </td>

                                                    <td>
                                                        @Html.TextBoxFor(model => model.INVCTAGTOINV, new { @class = "limpiar form-control" })
                                                    </td>
                                                </tr>
                                            </table>
                                        </fieldset>
                                    </div>
                                </td>

                            </tr>
                        </table>



                    </td>
                </tr>
            </table>
        </fieldset>

    </div>

</div>


@*<p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@


@*<table>


            <tr>
                <td>

                        <table>
                            <fielset>

                            </fielset>
                        </table>

                </td>
            </tr>

            <tr>
                <td>
                    <table>
                        <tr></tr>
                    </table>
                </td>
            </tr>

    </table>*@
