@using QuasarERPBanking.Models
@using QuasarERPBanking
@model QuasarERPBanking.Models.INV_PARAMETROS

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="internal-window bg-light justify-content-between">
    <div class="form--section-title col-md-12">
        <div class="col-md-6 internal--title">
            <h2 class="internal--title-h2">@Resources.INV_PARAMETROS.StringResources.tittleVentana</h2>
        </div>
        <div class="col-md-6 icon-bar">
            <ul class="list-unstyled d-flex justify-content-end">
                <li class="icon--bar-save">
                    <a href="#" onclick="submitform('myform');">
                        <img src="~/Content/imagenes/icon-save.svg" width="24" height="24" />
                    </a>
                </li>
                <li class="icon--bar-exit">
                    <a href="/">
                        <img src="~/Content/imagenes/icon-door_open_exit.svg" width="24" height="24" />
                    </a>
                </li>
            </ul>
            <!-------------------------------------                 BOTONES DE ACTIVIDADES                  -------------------------------------->
            @*<img src="../../Content/themes/base/images/reloj.png" alt="Salir" title="@Resources.CXP_MAESTRO.StringResources.tittlebuttonSalir" onclick="showActivities();" id="actReunion" />*@
        </div>
    </div>

    <div class="divInventarioParametros my-2 col-md-5">
        <div class="form-control">
            <div class="limpiar">
                <b>@Resources.INV_PARAMETROS.StringResources.FieldsetCampos</b>
            </div>
            <div class="row">
                <div class="col">
                    @Html.LabelFor(model => model.INVPARNOMBRE, new { @class = "limpiar" })
                    @Html.TextBoxFor(model => model.INVPARNOMBRE, new { @class = "limpiar form-control input-text" })
                </div>
            </div>
        </div>
    </div>

    <div class="divInventarioNegativos my-2 col-md-6">
        <div class="form-control">
            <div class="limpiar">
                <b>@Resources.INV_PARAMETROS.StringResources.FieldsetNegativ</b>
            </div>
            <div class="row">
                <div class="col">
                    @Html.CheckBoxFor(model => model.INVPARNEGAT)
                    @Html.LabelFor(model => model.INVPARNEGAT, new { style = "", @class = "limpiar" })
                </div>
                <div class="col">
                    @Html.CheckBoxFor(model => model.INVPARNEGDISP)
                    @Html.LabelFor(model => model.INVPARNEGDISP, new { style = "", @class = "limpiar" })
                </div>
            </div>
        </div>
    </div>
    <div class="divInventarioMovimientos my-2 col-md-5">
        <div class="form-control">
            <div class="limpiar">
                <b>@Resources.INV_PARAMETROS.StringResources.FieldsetMovimie</b>
            </div>
            <div class="row">
                <div class="col">
                    @Html.LabelFor(model => model.INVPARLOTE, new { @class = "limpiar" })
                    @*@Html.TextBox("LM", "LM", new { style = "width:25px;", @class = "limpiar form-control input-text" })*@
                    @Html.TextBoxFor(model => model.INVPARLOTE, new { @class = "limpiar form-control input-text" })
                </div>
                <div class="col">
                    @Html.LabelFor(model => model.INVPARIDTRANS, new { style = "", @class = "limpiar" })
                    @*@Html.TextBox("LM", "LM", new { style = "width:25px;", @class = "limpiar form-control" })*@
                    @Html.TextBoxFor(model => model.INVPARIDTRANS, new { @class = "limpiar form-control input-text" })
                </div>
            </div>
        </div>
    </div>
    <div class="divInventarioSistemaCosto my-2 col-md-6">
        <div class="form-control">
            <div class="limpiar">
                <b>@Resources.INV_PARAMETROS.StringResources.FieldsetSistmCosto</b>
            </div>
            <div class="row">
                @{
                    foreach (var costo in INV_PARAMETROS.lstINVPARSISCTO)
                    {
                        <div class="col">
                            @Html.RadioButtonFor(model => model.INVPARSISCTO, costo.ID)
                            @Html.Label("costo" + costo.ID, costo.Type, new { @class = "limpiar" })
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="divInventarioIntegral my-2 col-md-12">
        <div class="form-control">
            <div class="limpiar">
                <b>@Resources.INV_PARAMETROS.StringResources.FieldsetInv</b>
            </div>
            <div class="row">
                <div class="col">
                    @Html.CheckBoxFor(model => model.INVPARINTMG)
                    @Html.LabelFor(model => model.INVPARINTMG, new { @class = "limpiar" })
                </div>
                <div class="col">
                    @Html.CheckBoxFor(model => model.INVPARINTCC)
                    @Html.LabelFor(model => model.INVPARINTCC, new { @class = "limpiar" })
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @Html.LabelFor(model => model.INVPARDIRMG, new { @class = "limpiar" })
                    @Html.TextBoxFor(model => model.INVPARDIRMG, new { @class = "limpiar form-control input-text" })
                </div>
                <div class="col">
                    @Html.LabelFor(model => model.INVPARDIRCC, new { @class = "limpiar" })
                    @Html.TextBoxFor(model => model.INVPARDIRCC, new { @class = "limpiar form-control input-text" })
                </div>
            </div>
        </div>
    </div>
    <div class="divInventarioNotaEntrega my-2 col-md-12">
        <div class="form-control">
            <div class="limpiar">
                <b>@Resources.INV_PARAMETROS.StringResources.FieldsetNotaEn</b>
            </div>
            <div class="row">
                <div class="col">
                    @Html.LabelFor(model => model.NEPARCODELAB, new { style = "width:90px", @class = "limpiar" })
                    @*@Html.TextBox("LM", "LM", new { style = "width:25px;", @class = "limpiar form-control" })*@
                    @Html.TextBoxFor(model => model.NEPARCODELAB, new { style = "width:160px;", @class = "limpiar form-control" })
                </div>
                <div class="col">
                    @Html.LabelFor(model => model.NEPARLOTE, new { style = "", @class = "limpiar" })
                    @*@Html.TextBox("LM", "LM", new { style = "width:25px;", @class = "limpiar form-control" })*@
                    @Html.TextBoxFor(model => model.NEPARLOTE, new { style = "width:160px;", @class = "limpiar form-control" })
                </div>
                <div class="col">
                    @Html.LabelFor(model => model.NEPARIDTRANS, new { style = "", @class = "limpiar" })
                    @*@Html.TextBox("LM", "LM", new { style = "width:25px;", @class = "limpiar form-control" })*@
                    @Html.TextBoxFor(model => model.NEPARIDTRANS, new { style = "width:160px;", @class = "limpiar form-control" })
                </div>
            </div>
            <div class="row my-2">
                <div class="col">
                    @Html.CheckBoxFor(model => model.NEPARSINRES, new { style = "" })
                    @Html.LabelFor(model => model.NEPARSINRES, new { style = "", @class = "limpiar" })
                </div>
            </div>
        </div>
    </div>
    <div class="divInventarioCadenas my-2 col-md-12">
        <div class="form-control">
            <div class="limpiar">
                <b>@Resources.INV_PARAMETROS.StringResources.FieldsetCadeIni</b>
            </div>
            <div class="row">
                <div class="col">
                    @Html.LabelFor(model => model.INVCTAINV, new { @class = "limpiar" })
                    @Html.TextBoxFor(model => model.INVCTAINV, new { @class = "limpiar form-control input-text" })
                </div>
                <div class="col">
                    @Html.LabelFor(model => model.INVCTAGTOINV, new { @class = "limpiar" })
                    @Html.TextBoxFor(model => model.INVCTAGTOINV, new { @class = "limpiar form-control input-text" })
                </div>
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/scripts/Funciones.js")" type="text/javascript"></script>
