@using Resources.CC_ACTIVIDADES
@model QuasarERPBanking.Models.CC_ACTIVIDADES
@{
    Layout = null;
}
<div class="s1">


    <div style="padding-bottom:20px; font-size:10px; padding:0px 0px 0px 60px; ">
        <h1>@Resources.CC_ACTIVIDADES.StringResources.TextoActividad</h1>
    </div>


    <div id="gridContent" style="padding:20px;">
        @{
            var grid = new WebGrid(new List<QuasarERPBanking.Models.CC_ACTIVIDADES>(), ajaxUpdateContainerId: "gridContent", rowsPerPage: 1000);
            //System.Globalization.CultureInfo culture = new System.Globalization.CultureInfo("es-VE");
        }

        @grid.GetHtml(
        tableStyle: "webgrid-table Ancho-tabla",

        headerStyle: "webgrid-header",
        footerStyle: "webgrid-footer",
        alternatingRowStyle: "webgrid-alternating-row",
        selectedRowStyle: "webgrid-selected-row",
        rowStyle: "webgrid-row-style",
        mode: WebGridPagerModes.All,
        caption: "",
        columns:
            grid.Columns(
                //grid.Column("Asociar", format: item => @Html.CheckBox("Active", (bool)((item.PREPROCOD == ViewBag.ProyectoSeleccionado) ? true : false), new { value = @item.PREPART, @onclick = "active(this)" }), style: "colDescWidth", canSort: false),
                @*grid.Column("Accion", format: @<text>
                        <button id="editar" name="editar" class="edit-PRE_DET display-mode" style=" @((item.PRETIPO != "G" && item.PRETIPO != "") ? "display: none;" : "") ">Editar</button>
                        <button class="save-PRE_DET edit-mode">Salvar</button>
                        <button class="cancel-PRE_DET edit-mode">Cancelar</button>
                    </text>, style: "col3Width", canSort: false),*@
                grid.Column("ACTID", StringResources.lblCod.Replace(":", ""), format: @<text> <span class="display-mode"> <label id="lblDET_PLAN9">@item.ACTID.ToString(@*"n", culture*@)</label> </span>  @*<input type="text" id="DET_PLAN9" value="@item.PRECOST9" onkeypress="return NumCheck(event, this)" class="edit-mode" />*@ </text>, style: "col2Width", canSort: false),

                grid.Column("ACT_FECHCREA", StringResources.lblDateCre.Replace(":", ""), format: @<text>  <span class="display-mode">@item.ACT_FECHCREA </span> @*<label id="Descripcion" class="edit-mode">@item.PRE_NOMB</label>*@ </text>, style: "colDescWidth", canSort: false),
                grid.Column("ACT_FECHREAL", StringResources.lblDate.Replace(":", ""), format: @<text>  <span> <label id="lblTotal">@item.ACT_FECHREAL.ToString(@*"n", culture*@)</label> </span></text>, style: "col2Width", canSort: false),
                grid.Column("ACT_ASUNTO", StringResources.lblAsunto.Replace(":", ""), format: @<text> <span class="display-mode"> <label id="lblDET_PLAN1">@item.ACT_ASUNTO.ToString(@*"n", culture*@)</label> </span>  @*<input type="text" id="DET_PLAN1" value="@item.PRECOST1" onkeypress="return NumCheck(event, this)" class="edit-mode" />*@ </text>, style: "col2Width", canSort: false),
                grid.Column("ACT_PERSCOMP", StringResources.lblAsistentes.Replace(":", ""), format: @<text> <span class="display-mode"> <label id="lblDET_PLAN1">@item.ACT_PERSCOMP.ToString(@*"n", culture*@)</label> </span>  @*<input type="text" id="DET_PLAN1" value="@item.PRECOST1" onkeypress="return NumCheck(event, this)" class="edit-mode" />*@ </text>, style: "col2Width", canSort: false),
                grid.Column("ACT_AUTOR", StringResources.lblAutor.Replace(":", ""), format: @<text> <span class="display-mode"> <label id="lblDET_PLAN1">@item.ACT_PERSCOMP.ToString(@*"n", culture*@)</label> </span>  @*<input type="text" id="DET_PLAN1" value="@item.PRECOST1" onkeypress="return NumCheck(event, this)" class="edit-mode" />*@ </text>, style: "col2Width", canSort: false),
                grid.Column("ACT_CUERPO", StringResources.lblCuerpo.Replace(":", ""), format: @<text> <span class="display-mode"> <label id="lblDET_PLAN1">@item.ACT_PERSCOMP.ToString(@*"n", culture*@)</label> </span>  @*<input type="text" id="DET_PLAN1" value="@item.PRECOST1" onkeypress="return NumCheck(event, this)" class="edit-mode" />*@ </text>, style: "col2Width", canSort: false)

                ))
    </div>
</div>




<div class="modal fade" tabindex="-1" role="dialog" id="dlgActivities" style="overflow-y: scroll;">
    <div style="padding-top: 5px; width:100%; max-width:630px" class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="icon-bar">

                    <img src="../../Content/themes/base/images/delete-icon.png" alt="Eliminar" title="@Resources.StringResources.GlobalButtonDel" onclick="EliminarActividad();" />

                    <img src="../../Content/themes/base/images/save-icon.png" alt="Guardar" title="@Resources.StringResources.GlobalButtonUp" onclick="guardarActividad();" />

                    <img src="../../Content/themes/base/images/exit-icon.png" alt="Salir" title="@Resources.StringResources.GlobalButtonSalir" onclick="closeDialogA();" />

                </div>

                <form id="myForm2">

                    @*<legend class="limpiar"><b>Minuta de Reunión</b></legend>*@

                    <div class="ParrGridActInt">
                        <div class="ParrGridActIntCod">
                            @Html.LabelFor(model => model.ACTID, new { @class = "limpiar" })
                            <div>
                                @Html.TextBoxFor(model => model.ACTID, new { style = "width:100px;", @class = "limpiar form-control" })
                            </div>
                        </div>

                        <div class="ParrGridActIntFech">
                            @Html.LabelFor(model => model.ACT_FECHCREA, new { @class = "limpiar" })
                            <div>
                                @*@Html.TextBoxFor(model => model.ACT_FECHCREA, new { style = "width:200px;", @class = "limpiar" })*@
                                @Html.TextBoxFor(model => model.ACT_FECHCREA, "{0:dd/MM/yyyy}", new { style = "width: 110px; text-align:center;", @type = "datetime-local", @class = "form-control datepicker limpiar", placeholder = Resources.StringResources.GlobalDateCorta })
                            </div>
                        </div>

                        <div class="ParrGridActIntCod">
                            @Html.LabelFor(model => model.ACT_AUTOR, new { @class = "limpiar" })
                            <div>
                                @Html.TextBoxFor(model => model.ACT_AUTOR, new { style = "width:170px;", @class = "limpiar form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="ParrGridActInt">
                        <div style="text-align:center">
                            @* <img style="width: 423px; height: 246px;" src="../../Content/mini-icons/clock_select_remain.png"/>*@
                            <img src="../../Content/icons/32x32/clock_45.png" />
                            <label style="font-family:'Lucida Handwriting'; font-size:20px;"><i>@Resources.CC_ACTIVIDADES.StringResources.lblMinuta</i></label>
                        </div>
                    </div>

                    <div class="ParrGridActInt">
                        <div class="ParrGridActInt" style="text-align:center">
                            <label>@Resources.CC_ACTIVIDADES.StringResources.lblCliente</label>
                            <label class="limpiar" id="lblName"> </label>
                        </div>

                    </div>

                    <div class="ParrGridFech">
                        <div class="ParrGridFechCont">
                            @Html.LabelFor(model => model.ACT_FECHREAL, new { @class = "limpiar" })
                            <div>
                                @Html.TextBoxFor(model => model.ACT_FECHREAL, "{0:dd/MM/yyyy}", new { style = "width: 170px;", @type = "datetime-local", @class = "form-control datepicker limpiar", placeholder = Resources.StringResources.GlobalDateLarga })
                            </div>
                        </div>
                    </div>

                    <fieldset class="ventanaFieldset">
                        <legend><b>@Resources.CC_ACTIVIDADES.StringResources.FieldsetLogistica</b>                        </legend>

                        <div>

                            <div class="ParrClientActLogis">
                                @Html.LabelFor(model => model.ACT_PERSCOMP, new { @class = "limpiar", })
                                <div>
                                    @Html.TextBoxFor(model => model.ACT_PERSCOMP, new { style = "", @class = "limpiar form-control" })
                                </div>
                            </div>


                            <div>
                                <div class="ParrClientActLogis">
                                    @Html.LabelFor(model => model.ACT_ASUNTO, new { @class = "limpiar" })
                                    <div>
                                        @Html.TextBoxFor(model => model.ACT_ASUNTO, new { style = "", @class = "limpiar form-control" })
                                    </div>
                                </div>

                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="ventanaFieldset">
                        <legend class="limpiar" style="font-size:12px;"><b>@Resources.CC_ACTIVIDADES.StringResources.FieldsetResumen</b></legend>

                        <div>
                            
                            <div style="padding: 5px;">
                                @Html.LabelFor(model => model.ACT_CUERPO, new { @class = "limpiar" })
                                <div>
                                    @Html.TextAreaFor(model => model.ACT_CUERPO, new { style = "resize:none;", @class = "limpiar form-control", @cols = 50, @rows = 3 })
                                </div>
                            </div>

                            


                        </div>
                    </fieldset>






                </form>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<script>
    function cleanA() {
        $("#ACT_AUTOR").val("");
        $("#ACT_FECHCREA").val("");
        $("#ACT_PROVCOD").val("");
        $("#ACT_FECHREAL").val("");
        $("#ACT_ASUNTO").val("");
        $("#ACT_CUERPO").val("");
        $("#ACT_PERSOUR").val("");
        $("#ACT_PERSCOMP").val("");
        $("#ACT_DESC").val("");
        $("#ACT_CORSRES").val("");
        $("#ACT_CORATN").val("");
        $("#ACT_CORTPO").val("");
        $("#ACT_CANT").val("");
        $("#ACT_ADJ").val("");
    }

    //$("ACT_CXPCOD").val(tds.eq(0).text());
    //$("ACT_PERSOUR").val(tds.eq(0).text());
    //$("ACT_DESC").val(tds.eq(0).text());
    //$("ACT_CORSRES").val(tds.eq(0).text());
    //$("ACT_CORATN").val(tds.eq(0).text());
    //$("ACT_CORTPO").val(tds.eq(0).text());
    //$("ACT_ADJ").val(tds.eq(0).text());
    function EliminarActividad() {
        //alert($("#ACTID").val());
        if ($("#ACTID").val() != "") {
            var resp = confirm("¿" + '@Resources.StringResources.msgConfDelAct ' + $("#ACTID").val().toUpperCase() + " ?");
            if (resp) {
                var strJSON = {
                    "ccactid": $("#ACTID").val(),
                }
                $.ajax({
                    url: "/CC_ACTIVIDADES/Delete",
                    type: "POST",
                    data: JSON.stringify(strJSON),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (msg) {
                        //alert(msg);
                        alert('@Resources.StringResources.msgDeleteOK');
                        loadActivities($("#CTECOD").val());
                        $("#dlgActivities").dialog("close");
                    }
                });
            }
            else {
            }
        }
        else {
            alert('@Resources.StringResources.errorCodVacio');
            //alert("Debe indicar un código");
        }
    }
    function closeDialogA() { $("#dlgActivities").modal("hide"); }


    function guardarActividad() {
        //guarda cada valor en su campo


        if ($("#ACT_AUTOR").val() == "" ||
          $("#ACT_FECHCREA").val() == "" ||
          $("#ACT_FECHREAL").val() == "" ||
          $("#ACT_ASUNTO").val() == "" ||
          $("#ACT_CUERPO").val() == "" ||
          $("#ACT_PERSCOMP").val() == "" ||
          $("#ACTID").val() == "") {
            //alert("Faltan campos");
            alert('@Resources.StringResources.errCampsVaciosAct');
        }
        else {
            var strJSON = {
                "ACT_AUTOR": $("#ACT_AUTOR").val(),
                "ACT_FECHCREA": $("#ACT_FECHCREA").val(),
                "ACT_PROVCOD": $("#CTECOD").val(),
                "ACT_FECHREAL": $("#ACT_FECHREAL").val(),
                "ACT_ASUNTO": $("#ACT_ASUNTO").val(),
                "ACT_CUERPO": $("#ACT_CUERPO").val(),
                "ACT_PERSOUR": "USER",
                "ACT_PERSCOMP": $("#ACT_PERSCOMP").val(),
                "ACT_DESC": "REUNION",
                "ACT_CORSRES": "-",   //CAMBIA SI ES REUNION
                "ACT_CORATN": "-",
                "ACT_CORTPO": "-",    //CAMBIA SI ES REUNION
                "ACTID": $("#ACTID").val(),
                "ACT_CANT": 0,
                "ACT_ADJ": "-",
            };
            //alert($("#action").val());
            $.ajax({
                type: "POST",
                url: "/CC_ACTIVIDADES/" + $("#action").val(),
                //data: $('#myForm1_').serialize(),
                data: JSON.stringify(strJSON),
                contentType: "application/json",
                dataType: "json",
                success: function (msg) {
                    //alert(msg);
                    alert('@Resources.StringResources.msgEditOK');
                    loadActivities($("#CTECOD").val());
                    $("#dlgActivities").dialog("close");
                },
                error: function (result) {
                    alert(JSON.stringify(result));
                    //alert(result.readyState);
                }
            });
        }
    }



    $(function () {
        $("#AddAct").click(function () {
            $("#action").val("Create");

            $("#ACTID").removeAttr("readonly");
            $("#ACT_AUTOR").removeAttr("readonly");
            $("#ACT_FECHCREA").removeAttr("readonly");
            cleanA();
            showDlgActivities();
        });



        ///////////// contador de caracteres para los textarea//////////////////////
        $("#ACT_CUERPO").charCounter(200, {
            container: '<em id="a" style="font:15px Arial Narrow; color:#ccc; position:relative; bottom:20px; left:370px"></em>',
            format: "200 / %1",
            pulse: false,
            delay: 100,
        });





    });



    function showDlgActivities() {
        $('#dlgActivities').modal({ backdrop: 'static', keyboard: false });
        $("#dlgActivities").modal("show");
        $("#Actividades").show();
        $(".s1").hide();
    }

</script>